.friends
  display flex
  justify-content center
  flex-wrap wrap
  &-block
    flex-basis 40%
    display flex
    flex-direction column
    justify-content center
    &-icon
      text-align center
      img
        display block
        width 150px
        height 150px
        margin 10px auto

    &-name
      text-align center
      margin 10px 0