.aviasales
  width 100%
  top 110px
  background-color #f3f7fa
  //height 100vh

  &-logo
    padding-top 1px
    img
      display block
      margin 30px auto
      width: 60px
      height 60px

  &-container
    display flex
    justify-content center

    .aviasales-count-races
      width 232px
      height 252px
      border-radius 5px
      box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.1)
      background-color #ffffff
      margin-right  2.1%
      h3
        font-size 12px
        font-weight 600
        line-height 1
        font-family OpenSans
        letter-spacing 0.5px
        color #4a4a4a
        text-align center
        margin-top 20px
        text-transform uppercase

      &-block
        width 100%
        margin 20px
        height 20px
        box-sizing border-box
        input
          width 20px
          height 20px

        label
          margin 0 0 0 10px
          font-size 13px
          position relative
          top -5px
          color #4a4a4a


    .aviasales-tickets-block
      width 503px
      padding 0

      &-btn
        width 251px
        height 50px
        border solid 1px #dfe5ec
        background-color #ffffff
        box-sizing border-box
        border-radius 0 5px 5px 0
        font-family OpenSans
        font-size 16px
        font-weight 600
        line-height 1.67
        letter-spacing 0.5px
        color #4a4a4a
        outline none
        &.active
          width 252px
          height 50px
          background-color #2196f3
          border: solid 1px #dfe5ec
          border-radius 5px 0 0 5px
          box-sizing border-box
          font-family: OpenSans;
          font-size 16px
          font-weight 600
          line-height 1.67
          letter-spacing 0.5px
          color #ffffff



      &-card
        max-width 503px
        border-radius 5px
        box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.1)
        background-color #ffffff
        padding 20px 0
        margin 20px 5px

        &-header
          display flex
          justify-content space-between
          align-items center
          text-align center
          &:first-child
            font-family OpenSans
            font-size 24px
            font-weight 600
            color #2196f3
          div
            width 200px

        &-info
          display flex
          text-transform uppercase
          font-family OpenSans
          justify-content space-around
          margin 20px 0

          &-time-count-races,&-fly-length,&-time
            width 128px
            text-align center
            div
              color #a0b0b9
              font-size 12px

            span
              font-family: OpenSans
              font-size: 14px
              font-weight: 600
              font-style: normal
              line-height: 1.5
              color: #4a4a4a


@media (max-width: 425px)
  .aviasales
    &-container
      display flex
      flex-direction column
      .aviasales-count-races
        width 100%
        box-sizing border-box
        margin-bottom 20px
        &-block
          max-width 300px

    .aviasales-tickets-block
      width 100%

      &-btn
        max-width 50%


