.AgencyUsersBlock
  margin 20px auto 100px
  .AgencyUsersPageBtns
    margin 0 auto
    display flex
    justify-content center
    .AgencyUsersPageBtn
      width 50px
      margin 0 5px

  .AgencyUsers
    //margin 0 auto
    display flex
    flex-wrap wrap
    justify-content center



    .AgencyUser
      width 300px
      border 2px solid grey
      border-radius 10px
      margin 10px


      .AgencyUsersIcon
        width 100px
        height 100px
        margin 10px

        img
          width 100%
          height 100%

      .AgencyUsersInfo
        margin 10px


  .AgencyUsersBtn
    display block
    margin 20px auto 0
    width 200px
    height 30px
    background #007bff
    outline none
    border-radius 5px
    border none
    color #f1f2f2
    font-weight 700

@media (max-width: 425px)
  .AgencyUser
    span
      font-size 14px