@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,700|Source+Sans+Pro:400,600,700&display=swap');

.agency
  max-width 2560px
  border 1px solid black
  position: relative
  .AgencyLayout
    position relative
    //top 64px
    box-sizing border-box

    //overflow auto

@import "./header/header.styl"
@import "./agencyMain/agencyMain.styl"
@import "./agencyUsers/agencyUsers.styl"
@import "./agencyFooter/agencyFooter.styl"