footer
  padding: 20px 0
  margin  0 auto
  display flex
  flex-direction column
  justify-content center
  .row-footer
    .footer
      display: flex
      justify-content center
      //flex-wrap wrap
      align-items: flex-end
      margin 30px auto 0
      list-style-type: none
      &__item
        font-size: 12px
        margin-right: 10px
        font-weight: normal
        a
          color: #000
          &:visited
            text-decoration: none
            color: #000
          &:hover
            text-decoration: none
            color: #000


  .footer__logo
    display flex
    justify-content center
    align-items center

