.agencyFooterHeader
  display flex
  justify-content space-between
  align-items center
  border-bottom solid 1px #5674b9;
  //margin-bottom 37px


  .agencyFooterHeaderLogo
    img
      width 134px
      height 24px

  .agencyFooterHeaderMenu
    width 456px
    display flex
    justify-content space-between

  .agencyFooterHeaderMenuItem
    display block
    font-family: 'Source Sans Pro'
    font-size: 16px
    color: #ffffff
    text-decoration none
    &:hover
      color: #ef6c00
