@import "./components/header/header.styl"
@import "./components/pages/social/social.styl"
@import "./components/pages/landing/landing.styl"
@import "components/forms/login/form.styl"
@import "./components/pages/agency/agency.styl"
@import "./components/pages/aviasales/aviasales.styl"

.layout
  position relative
  margin-top 110px